
<container>
<div class="row p-3">
    <div class="col-md-10 col-lg-8 col-xl-7 offset-1">
        <p><strong>School:</strong> <%= @institution.name %></p>
        <p><strong>Total Undergrads:</strong> <%= @demo.undergrad_total %></p>
    </div>
</div>
<container>